body {
  background: whitesmoke;
}

p {
  font-weight: 600;
  opacity: 0.5;
}

.logo {
  object-fit: contain;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  align-items: baseline;
  margin: 0 auto;
}

.navbar {
  color: white;
  height: 40vh;
  background-image: url("../crowdfunding-product-page-main/images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.navbar .flex {
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: white;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

.navbar ul li::after {
  content: "";
  height: 0.19rem;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.container {
  /* max-width: 1024px; */
  width: 50%;
  margin: 0 auto;
}

.introduction {
  align-items: center;
  margin-top: -6rem;
  padding-bottom: 3rem;
  background: white;
  text-align: center;
  border-radius: 0.6rem;
}

.introduction h2 {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 1rem auto;
}

img {
  margin-top: -2rem;
}

.btns {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 1rem;
}

.back button {
  color: white;
  background: hsl(176, 50%, 47%);
  text-align: center;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.back button:active {
  background: darkcyan;
  font-weight: 900;
}

.bookmark button {
  background: lightgray;
  text-align: center;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 3rem;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}

.bookmark button:active {
  color: darkcyan;
  font-weight: 900;
}

.icon {
  position: absolute;
  z-index: 3;
  object-fit: contain;
  padding-top: 2rem;
  height: 3.1rem;
}

.progress {
  margin-top: 1.5rem;
  line-height: 1.5rem;
  padding: 3rem 2rem;
  background: white;
  color: black;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
}

.rate {
  display: flex;
  justify-content: space-around;
}

.progress h2 {
  font-size: 2rem;
  font-weight: 900;
}

.progress p {
  font-weight: 900;
  color: gray;
}

#btnss {
  margin-top: 1rem;
  background: darkgray;
  border-radius: 3rem;
  height: 1rem;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}
#btnss span {
  background: hsl(176, 50%, 47%);
  height: 100%;
  width: 70%;
  border-radius: 3rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  /* transition: 0.5s; */
}

/* .btnss span:hover {
    width: 70%;
} */

.progress span {
  border: 1px solid black;
  height: 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.info {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  line-height: 1.5rem;
  padding: 3rem 2rem;
  background: white;
  color: black;
  border-radius: 0.6rem;
}

.info p {
  font-weight: 700;
}

.about h2 {
  margin-bottom: 3rem;
}

.about p {
  margin-bottom: 2rem;
}

.bamboo {
  border: 0.2px solid black;
  border-radius: 0.6rem;
  margin-top: 2rem;
}

.mahogany {
  border: 0.2px solid black;
  border-radius: 0.6rem;
  margin-top: 2rem;
  opacity: 0.4;
}

.mahogany p {
  padding: 0 1.2rem;
}

.mahogany .btn {
  padding-top: 1rem;
}

.mahogany .left p {
  font-size: 1.1rem;
  padding-top: 0.5rem;
}

.mahogany .left h2 {
  font-size: 2rem;
}

.stand span {
  color: hsl(176, 50%, 47%);
  padding-right: 1.5rem;
}

.stand h1 {
  font-size: 1.1rem;
  font-weight: 900;
  padding-left: 1.5rem;
}

.stand p {
  padding: 0 1.2rem;
}

.stand {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.bamboo p {
  margin-top: 0.5rem;
  padding: 0 1.2rem;
}

.item {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  gap: 0;
}

.left h2 {
  font-size: 2rem;
}

.left p {
  font-size: 1.1rem;
  padding-top: 1rem;
}

.btn {
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.btn button {
  color: white;
  background: hsl(176, 50%, 47%);
  text-align: center;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  position: relative;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.btn button:active {
  background: darkcyan;
}

#btn {
  background: darkgray;
}

@media (max-width: 700px) {
  .wrapper {
    width: 100%;
  }
  .navbar {
    width: 100%;
    height: 50vh;
    background-position: center;
  }

  .navbar ul {
    flex-wrap: wrap;
  }

  .container {
    width: 97%;
    margin: 0 auto;
  }

  .introduction {
    margin-left: auto;
    margin-right: auto;
  }

  .btns {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 1rem;
  }

  .back button {
    padding: 1rem 4rem;
  }

  .bookmark button {
    display: none;
  }

  .icon {
    position: relative;
    padding-right: 1rem;
  }

  .progress {
    margin: 1rem auto;
    align-items: center;
  }

  .progress h2 {
    margin-left: 0.5rem;
  }

  .progress span {
    margin-top: 0;
    margin-bottom: 0;
    height: 6rem;
  }

  .rate {
    flex-direction: column;
    align-items: center;
  }

  .rate span {
    transform: rotate(90deg);
  }

  #btnss {
    width: 100%;
    height: 1rem;
    margin-top: 1rem;
    z-index: 1;
  }

  #btnss span {
    width: 70%;
    z-index: 2;
    height: 0.8rem;
  }

  .info {
    margin: 0 auto;
  }

  .stand {
    flex-direction: column;
    gap: 0;
  }

  .item {
    flex-wrap: wrap;
  }

  .btn {
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}
